target
.project
.classpath
.settings
.metadata
.tern-project
nb-configuration.xml
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/parentHelloWorld/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/parentHelloWorld/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/pojo/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/pojo/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/util/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/util/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/webHelloWorld/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/webHelloWorld/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/930482501.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.validation/dep.index
